<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>itWiki</title>
    <link rel="stylesheet" href="/assets/css/uikit.min.css">
    <link rel="stylesheet" href="/assets/css/uikit-rtl.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/uikit-icons.min.js"></script>
    <script src="/assets/js/uikit.min.js"></script>
    <script src="/assets/js/main.js"></script>
</head>
<body>
    <div class="navbar-wrapper dark-background">
        <div class="uk-container">
            <nav class="uk-navbar-container dark-background uk-light uk-margin" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="/add/article/">Add article</a>
                        </li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <div class="uk-navbar-item ">
                        <div><a href="#">LOG IN <span uk-icon="heart"></span></a></div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="uk-container">
        <article class="uk-article">
            <h1 class="uk-article-title">{{.Title}}</h1>
            <p class="uk-article-meta">Created at {{.CreationDate}} by . Category: {{.CategoryName}}</p>
            <p>{{.Post}}</p>
            <div class="uk-grid-small uk-child-width-auto" uk-grid>
                <div>
                    <a class="uk-button uk-button-text" href="/">Back</a>
                </div>
                <div>
                    <a class="uk-button uk-button-text" href="#">Comments</a>
                </div>
            </div>
        </article>
    </div>
</body>
</html>