<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>itWiki</title>
    <link rel="stylesheet" href="/assets/css/uikit.min.css">
    <link rel="stylesheet" href="/assets/css/uikit-rtl.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/uikit.min.js"></script>
    <script src="/assets/js/fontawesome.js"></script>
    <script src="/assets/js/main.js"></script>
</head>
<body>
    <div class="wrapper uk-background-muted">
        <div class="navbar-wrapper dark-background">
            <div class="uk-container">
                <nav class="uk-navbar-container dark-background uk-light uk-margin" uk-navbar>
                    <div class="uk-navbar-left">
                        <a href="/app" class="uk-navbar-item uk-logo">itWiki</a>
                    </div>
                    <div class="uk-navbar-right">
                        <div class="uk-navbar-item ">
                            <div class="uk-inline uk-width-1-1">
                                <div><i class="fas fa-user"></i>
                                    <div uk-dropdown="mode: click">
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li class="uk-nav-header" id="itwiki_logged_in_person"></li>
                                            <li><a href="/add/article/">Add article</a></li>
                                            <li><a href="/settings/">Settings</a></li>
                                            <li><a href="#">Logout</a></li>
                                        </ul>
                                    </div> 
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="uk-container uk-card-default fix-top-margin">
            <article class="uk-article uk-card-body">
                <h1 class="uk-article-title" id="itwiki_article_title">{{.Title}}</h1>
                <i class="fas fa-cog fa-2x uk-align-right" id="itwiki_article_settings"></i>
                <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-nav-header">Actions</li>
                        <li><a href="/edit/article/{{.ArticleID}}">Edit</a></li>
                        <li><a href="#">Vote</a></li>
                        <li class="uk-nav-header">Danger zone</li>
                        <li><a href="#itwiki_modal_delete_article" uk-toggle >Delete article</a></li>
                    </ul>
                </div>
                <p class="uk-article-meta">Created at {{.CreationDate}} by admin. Category: {{.CategoryName}}</p>
                {{.Content}}
                <div class="uk-grid-small uk-child-width-auto" uk-grid>
                    <div>
                        <a class="uk-button uk-button-text" href="/">Back</a>
                    </div>
                    <div>
                        <a class="uk-button uk-button-text" href="#">Comments</a>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div id="itwiki_modal_delete_article" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Delete article?</h2>
            <p>You're going to remove article <strong>{{.Title}}</strong> from database</p>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-button-danger" id="itwiki_article_settings_delete_article" data-id="{{.ArticleID}}" type="button">Delete</button>
            </p>
        </div>
    </div>
</body>
</html>