<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>itWiki</title>
    <link rel="stylesheet" href="/assets/css/uikit.min.css">
    <link rel="stylesheet" href="/assets/css/uikit-rtl.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/js/uikit-icons.min.js"></script>
    <script src="/assets/js/uikit.min.js"></script>
    <script src="/assets/js/main.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="uk-container">
            <nav class="uk-navbar-container uk-margin" uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="#">itWiki</a>
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="#">Categories</a>
                        </li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <div class="uk-navbar-item ">
                        <div><a href="#">Log In <span uk-icon="heart"></span></a></div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="uk-container">
            <div class="uk-article">
                <h2 class="uk-article-title">Welcome to the front page of your wiki</h2>
                <p>Currently there is:</p>
                <p><span id="itwiki_categories">0</span> categories</p>
                <p><span id="itwiki_articles">0</span> articles</p>
            </div>
        </div>
    </div>
</body>
</html>